* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header {
    /* iniciando o flexbox */
    display: flex;
    /* centralizando verticalmente no meio da tela */
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    /* colocando um espaço entre as divs */
    justify-content: space-between;
    width: 990px;
}

.logo {
    display: flex;
    /* centralizando horizontalmente */
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

nav ul {
    display: flex;
}

nav a {
    /* em menu o a sempre será block */
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}

.itens a:hover {
    background-color: #39aae1;
    color: white;
}

#banner {
    display: flex;
    justify-content: center;
    background-image:url('../img/img1.jpg');
    background-position: center;
    /* preencher todo o espaço da section */
    background-size: cover;
    height: 670px;
}

.column {
    flex-direction: column;
}

.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_options {
    display: flex;
    height: 210px;
}

.banner_headline h1 {
    color: white;
    font-size: 60px;
    text-shadow: 1px 1px black;
    margin: 0px;
    padding: 0px;
    max-width: 350px;
}

.banner_headline h2 {
    color: white;
    font-size: 21px;
    text-shadow: 1px 1px black;
    margin: 0px;
    padding: 0px;
    max-width: 350px;
    margin-top: 30px;
}

.banner1, .banner2, .banner3 {
    flex: 1;
    color: white;
    padding: 20px;
}

.banner1 {
    background-color: #39aae1;
}

.banner2 {
    background-color: #0079c7;
}

.banner3 {
    background-color: #2b4c99;
}

.banner_title {
    font-size: 21px;
}

.banner_desc {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner_options a {
    /* vai acompanhar o texto */
    display: inline-block;
    border: 1px solid white;
    padding: 5px;
    text-decoration: none;
    color: white;
}

#geral {
    display: flex;
    justify-content: center;
}

#geral section {
    flex: 2;
}

#geral aside {
    flex: 1;
}

.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_title_text {
    color: black;
    font-size: 21px;
    font-weight: bold;
}

.widget_title_bar {
    width: 50px;
    height: 3px;
    background-color: #36a9e1;
    margin-top: 10px;
}

.widget_body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.block {
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
    background-color: #39AAE1;
}

article .news_data {
    display: flex;
}

article .news_posted_at {
    background-color: #2b4c99;
    color: white;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}

article .news_comments {
    background-color: #39AAE1;
    color: white;
    font-size: 12px;
    padding: 10px;
}

.news_thumbnail {
    display: flex;
    flex-wrap: wrap;
}

.thumb {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 20px;
}

.thumb .thumb-image {
    width: 310px;
    height: 220px;
    background-color: #0079c7
}

.thumb-text {
    width: 310px;
    height: 220px;
}

.thumb-text h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}

footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}

.footer_menu {
    display: flex;
}

.fm_1, .fm_2, .fm_3 {
    padding: 20px;
    color: white;
    flex: 1;
}

.fm_1 {
    background-color: #39aae1;
}

.fm_2 {
    background-color: #0079c7;
}

.fm_3 {
    background-color: #2b4c99;
}

.footer_area {
    display: flex;
    color: white;
}

.footer_areaitem {
    flex: 1;
}

.flexColumn {
    flex-direction: column;
}

footer .widget_title_text {
    color: white;
}

footer .widget_body {
    margin-top: 20px;
}

.footer_copy {
    border-top: 2px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 50px;
}

footer h1 {
    margin-bottom: 20px;
}

.widget_body span {
    margin-bottom: 10px;
}

/* criando o menu sanduiche para mobile */
.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}

.mm_line {
    height: 2px;
    background-color: #39aae1;
}

/* diminuir os elementos a partir de 600px */
@media (max-width: 600px) {
    
    .banner_headline {
        padding: 20px;
    }

    .banner_headline h1 {
        font-size: 55px;
    }

    .banner_headline h2 {
        font-size: 17px;
    }

    .banner_options {
        height: auto;
        flex-direction: column;
    }

    #geral {
        margin-top: 120px;
    }

    .container {
        flex-direction: column;
    }

    #geral section, .widget_title_text, aside {
        padding-left: 20px;
    }

    .widget_title_bar {
        margin-left: 20px;
    }

    .widget_body {
        flex-direction: column;
        padding: 20px;
    }

    .block {
        width: 100%;
    }

    .footer_menu, .footer_area {
        flex-direction: column;
    }

    .footer_copy {
        padding-left: 20px;
    }

    header .container {
        flex-direction: row;
    }

    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: white;
    }

    header {
        height: auto;
    }

    .logo {
        padding-left: 20px;
    }

    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

}